@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div>
    <div style="margin-bottom: 20px">
        <div><a href="/health">Check health</a></div>
        @if (Model.OpenApiEnabled)
        {
            <div><a href="/docs/index.html">Swagger</a></div>    
        }
    </div>
    <div style="color: palevioletred">
        @Model.Version
    </div>
</div>
